<div style="float:left">
    <h1 style="width:450px">Live Coding 5: Pandas</h1>
    <h2 style="width:450px">Introducing Pandas!</h2>
</div>
<div style="float:right"><img width="100" src="https://github.com/jreades/i2p/raw/master/img/casa_logo.jpg" /></div>

<div style="border: dotted 1px rgb(156,121,26); padding: 10px; margin: 5px; background-color: rgb(255,236,184)"><i>Note</i>: You should download this notebook from GitHub and then save it to your own copy of the repository. I'd suggest adding it (<tt>git add Live-...</tt>) right away and then committing (<tt>git commit -m "Some message"</tt>). Do this again at the end of the class and you'll have a record of everything you did, then you can <tt>git push</tt> it to GitHub.</div>

## Task 1. Orientation

Beyond what we provide below there are [numerous](http://lmgtfy.com/?q=introduction+to+pandas+python) useful introductions; [one of our favourites](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/) is from Greg Reda, and there are some [good videos](https://youtu.be/TSsSWuhBpmY) on [our YouTube channel](https://www.youtube.com/playlist?list=PLJ5Y5hxm-0W7rOOYBHf6KC6QNnWOi09kh). And of course, there’s [TONS of stuff](http://stackoverflow.com/questions/tagged/pandas) on StackOverflow. If you want an actual physical book, you might try [McKinney (2017)](http://shop.oreilly.com/product/0636920050896.do).

However, one thing you will really want to bookmark is [the official documentation](http://pandas.pydata.org/pandas-docs/stable/) since you will undoubtedly need to refer to it fairly regularly. _Note_: this link is to the most recent release. Over time there will be updates published and you _may_ find that you no longer have the most up-to-date version. If you find that you are now using an older version of pandas and the methods have changed then you'll need to track down the _specific_ version of the documentation that you need from the [home page](http://pandas.pydata.org).

You can always check what version you have installed like this:

In [1]:
import pandas as pd
print(pd.__version__)

1.1.2

<div style="border: dotted 1px rgb(156,121,26); padding: 10px; margin: 5px; background-color: rgb(255,236,184)"><i>Note</i>: this approach isn't guaranteed to work with _every_ package, but it will work with most of them. Remember that variables and methods starting and ending with '<tt>__</tt>' are <b>private</b> and any interaction with them should be approached very, very carefully.</div>

If pandas imported properly, you _could_ look for help using:

In [ ]:
help(pd.DataFrame)

However, the help documentation for the DataFrame is not just a bit longer than anything we've seen before, it's massively longer! That's because pandas is much more sophisticated than anything we've looked at before. There's probably quite a lot of intimidating terminology in there too... Right from the start we get things like "Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns)."

## Task 2. The Series
The official documentation for `Series` is [here](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#series). But as [Greg Reda](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/) puts it so clearly; 

> _"a Series is a one-dimensional object similar to an array, list, or column in a table. It will assign a labelled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one."_

### Task 2.1: Working with a Series

Although it's common to only encounter aSseries in the context of a Data Frame, we can actually create an work with them separately if we like. They use indexing in a very similar to what we have used in the past for lists:

In [18]:
srs = pd.Series([7, 'Bristol', 3.14, -1789, 'Happy Birthday!'])
print(srs)

0                  7
1            Bristol
2               3.14
3              -1789
4    Happy Birthday!
dtype: object

Then, to get to item 1 from `s`:

In [19]:
print(srs[1])
print(type(srs[1]))

Bristol
<class 'str'>

Looks pretty similar to how we would index (access) a list, right? **Except...** notice that printing out the series showed a number (0..4) _next_ to every element in the list; that should be a _clue_ that we're not using a normal list any more. That number is the Series *index*: this type of index is a lot more complicated than what we did when using indexes to access elements of a list, but they've used the same name because that describes its function.

### Task 2.2: Series and Value Operations

One thing that can be quite confusing is that _only_ operations that return a singular value (e.g. `s[1]`) return a simple Python data type. Everything else returns a series:

In [20]:
print(srs[3:5])
print(type(srs[3:5]))

3              -1789
4    Happy Birthday!
dtype: object
<class 'pandas.core.series.Series'>

If you want to get at the _values_ of the Series then you have to do it like this:

In [21]:
print(srs.values[3:5])
print(type(srs.values[3:5]))
print()

# To get an *actual* list not a numpy ndarray
print(list(srs.values[3:5]))
print(type(list(srs.values[3:5])))

[-1789 'Happy Birthday!']
<class 'numpy.ndarray'>

[-1789, 'Happy Birthday!']
<class 'list'>

## 3. The Index

By default, pandas uses a 0-based integer sequence for its indexes (*i.e.* if you don't tell it do anything else, your index will be the numbers 0..n). But one of neat things about pandas `Series` is that you can set the index to anything you like.

### Task 3.1: Specifying an Index

For example, let's imagine that you've calculated some summary statistics from a much larger data set and you want the name of the statistic to be the index value:

In [22]:
srs2 = pd.Series([7, 1, 3.23, 0.88],  index=['max', 'min', 'mean', 'std'])
print(srs2)

max     7.00
min     1.00
mean    3.23
std     0.88
dtype: float64

### Task 3.2: Accessing Items using the Index

So *now* this looks a little like creating a dictionary with keys instead of a list with integer indexes since we can access values in the `Series` using the `index` we just specified, but it's still a _one-dimensional list_ (see definition above) since we only have one observation (_i.e._ data point) for each row.:

In [23]:
print(srs2['min'])

1.0

But be aware of the fact that this is something quite different:

In [24]:
print(srs2.min())

0.88

The difference between these outputs is because we used two different ways to access the contents of the `Series`:
1. `mySummary['min']` uses the _index_ to find the value corresponding to that index entry; 
2. But `mySummary.min()` is a [method](http://pandas.pydata.org/pandas-docs/stable/api.html#computations-descriptive-stats) that searchers for the minimum _value_ in the series. 

Since that is pretty confusing, I'd recommend trying to _avoid_ using words like these as part of your index if you possibly can -- fortunately, that shouldn't happen too often: the only time you'll encounter it as a *normal* part of *using* pandas is when you summarise a dataframe! 

<div style="border: dotted 1px green; padding: 10px; margin: 5px; background-color: rgb(249,255,249);"><i>Hint</i>: The difference between an **index** value and a **data** value is crucial, so make sure you understand how these two lines of code differ and why their output is different -- ask if you’re not sure.</div>

### Task 3.3: Bitwise Indexing

We can also use a _boolean_ or _bitwise index_ to select or filter particular elements of the `Series` that meet certain conditions using logical operators like `==` or `>` (so this is like a conditional statement). For example, let's create a new `Series`:

In [25]:
srs3 = pd.Series([100, 200, 300, 400], index = ['one', 'two', 'three', 'four'])

We can then ask pandas to find all elements of the `Series` with values greater than 250 and this will be returned as a bitwise boolean index (**hint**: look at the `dtype`):

In [26]:
srs3 > 250

one      False
two      False
three     True
four      True
dtype: bool

***Think about it***: thats's already useful since we didn't have to write a `for` loop in order to find every element of `mySeries` that was greater than 250! But we can use that boolean index to retrieve *only* those values of the series:

In [27]:
srs3[srs3 > 250]

three    300
four     400
dtype: int64

Let's step through this to make sure it's clear:
1. We use a conditional test `srs3 > 250` which looks for *all* elements of `srs3` which are greater than 250; 
2. This produces a Boolean Series of `True`/`False` values that is the same length as the original series
3. We use this to quickly select all of the elements in `srs3` whose index value is `True`. 

Think about it!

### Task 3.4: iloc

Let's try to bring a slightly more concrete example to this in order to better-understand how the index can be used to select data by index-value. The easiest one to understand (if you're comfortable thinking about pandas as a dictionary-of-lists) is `iloc` which focuses on _integer location_ (thus: `iloc`):

In [30]:
myEastings  = pd.Series([7063197, 6708480, 6703134, 7538620], 
                        index = ['Liverpool', 'Bristol', 'Reading', 'Glasgow'])

print(myEastings.iloc[0:3])
print()
print(myEastings.iloc[-2:])

Liverpool    7063197
Bristol      6708480
Reading      6703134
dtype: int64

Reading    6703134
Glasgow    7538620
dtype: int64

So here we see how the index can be used for list-like operations using a syntax that matches that of Python's lists!

### Task 3.4: loc

Continuing with this same series, let's turn now to `loc` which uses _labels_ instead of _integers_ and so looks a bit more like a dictionary:

In [32]:
myEastings  = pd.Series([7063197, 6708480, 6703134, 7538620], 
                        index = ['Liverpool', 'Bristol', 'Reading', 'Glasgow'])

print(myEastings.loc['Liverpool':'Reading'])
print()
print(myEastings.loc['Bristol':])

Liverpool    7063197
Bristol      6708480
Reading      6703134
dtype: int64

Bristol    6708480
Reading    6703134
Glasgow    7538620
dtype: int64

So that's a bit of a hybrid: it's not _really_ a dictionary (because you can't slice dictionaries), but you can use labels to select ranges of data from the series.

## 4. The Data Frames

Clearly, we usually we have more than just a few observations in a single column of data (i.e. a one-dimensional data set). Let's step this up slowly by working with two-dimensional data in pandas; that means we now need to use the data structure called a `DataFrame`. We saw the help documentation for this above, but hopefully the rest of this notebook will be a little more comprehensible...

Official documentation for DataFrame is [here](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe). But again, [Greg Reda](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/) puts it a little more intuitively:

> _“A DataFrame is a tabular data structure comprised of rows and columns, akin to a spreadsheet, database table ... **You can also think of a `DataFrame` as a group of `Series` objects that share an index (the column names).**”_ 

Or, in terms of what we've been doing: a `DataFrame` can be thought of as a dictionary-of-lists that share the same index.

### Task 4.1: Creating a Data Frame from Scratch

Indeed, we can actually create a Data Frame from the dictionary-of-lists we saw in Weeks 3 and 4:

In [71]:
myData = {
    'id'         : [0, 1, 2, 3, 4, 5],
    'Name'       : ['Greater London', 'Greater Manchester', 'Birmingham','Edinburgh','Inverness','Lerwick'],
    'Rank'       : [1, 2, 3, 4, 5, 6],
    'Longitude'  : [-0.128, -2.245, -1.903, -3.189, -4.223, -1.145],
    'Latitude'   : [51.507, 53.479, 52.480, 55.953, 57.478, 60.155],
    'Population' : [9787426, 2705000, 1141816, 901455, 70000, 6958],
}

df = pd.DataFrame(myData)

print(type(df))
print()

print("Data frame:")
print(df)
print()

print("Description:")
print(df.describe())
print()

print("Information:")
print(df.info())

<class 'pandas.core.frame.DataFrame'>

Data frame:
   id                Name  Rank  Longitude  Latitude  Population
0   0      Greater London     1     -0.128    51.507     9787426
1   1  Greater Manchester     2     -2.245    53.479     2705000
2   2          Birmingham     3     -1.903    52.480     1141816
3   3           Edinburgh     4     -3.189    55.953      901455
4   4           Inverness     5     -4.223    57.478       70000
5   5             Lerwick     6     -1.145    60.155        6958

Description:
             id      Rank  Longitude   Latitude    Population
count  6.000000  6.000000   6.000000   6.000000  6.000000e+00
mean   2.500000  3.500000  -2.138833  55.175333  2.435442e+06
std    1.870829  1.870829   1.452215   3.295547  3.732124e+06
min    0.000000  1.000000  -4.223000  51.507000  6.958000e+03
25%    1.250000  2.250000  -2.953000  52.729750  2.778638e+05
50%    2.500000  3.500000  -2.074000  54.716000  1.021636e+06
75%    3.750000  4.750000  -1.334500  57.096750  2.314204e+06
max    5.000000  6.000000  -0.128000  60.155000  9.787426e+06

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          6 non-null      int64
 1   Name        6 non-null      object
 2   Rank        6 non-null      int64
 3   Longitude   6 non-null      float64
 4   Latitude    6 non-null      float64
 5   Population  6 non-null      int64
dtypes: float64(2), int64(3), object(1)
memory usage: 416.0+ bytes
None

### Task 4.2: Changing the Index

Notice that when we print `df` there are two sets of columns with the numbers 0..5: one of these is the `id` column that we created in `myData`. The other is the index that pandas created automatically. We can change this...

In [35]:
df.set_index('id')

                  Name  Rank  Longitude  Latitude  Population
id
0       Greater London     1     -0.128    51.507     9787426
1   Greater Manchester     2     -2.245    53.479     2705000
2           Birmingham     3     -1.903    52.480     1141816
3            Edinburgh     4     -3.189    55.953      901455
4            Inverness     5     -4.223    57.478       70000
5              Lerwick     6     -1.145    60.155        6958

<div style="border: dotted 1px red; padding: 10px; margin: 5px; background-color: rgb(255,249,249);"><i>Danger</i>: This looks like exactly what we want, but we <i>didn't</i> capture the result! So we set the index and a new data frame was returned, but we didn't save the result to a new variable or overwrite the old one. <b>This is the most common mistake I've seen new users of pandas make: they have the right command but aren't capturing the output.</b></div>

In [36]:
print("Notice that id hasn't been set as a column:")
df.info()

print("Notice that with inplace it is now set:")
df.set_index('id', inplace=True)
df.info()

# You could also do this using: df = df.set_index('id')


### Task 4.3: iloc

Integer locations can be used with data frames as well as individual columns. Note that the index is _always_ returned, even if you don't ask for it.

In [38]:
df.iloc[2:4,0:3]

          Name  Rank  Longitude
id
2   Birmingham     3     -1.903
3    Edinburgh     4     -3.189

### Task 4.4: loc

And this might help to make the behaviour of `loc` a little more obvious: it's an _inclusive_ selection of the index **values** 2..4 and Longitude..Population.

In [39]:
df.loc[2:4,'Longitude':'Population']

    Longitude  Latitude  Population
id
2      -1.903    52.480     1141816
3      -3.189    55.953      901455
4      -4.223    57.478       70000

### Task 4.5: Selecting Rows

We can also use conditions to select rows or columns:

In [40]:
df[df.Rank < 4]

                  Name  Rank  Longitude  Latitude  Population
id
0       Greater London     1     -0.128    51.507     9787426
1   Greater Manchester     2     -2.245    53.479     2705000
2           Birmingham     3     -1.903    52.480     1141816

In [44]:
df[(df.Longitude > -1.5) & (df.Latitude > 55.0)]

       Name  Rank  Longitude  Latitude  Population
id
5   Lerwick     6     -1.145    60.155        6958

We can understand how that worked by breaking it down into parts:

In [46]:
df.Longitude > -1.5

id
0     True
1    False
2    False
3    False
4    False
5     True
Name: Longitude, dtype: bool

In [45]:
df.Latitude > 55.0

id
0    False
1    False
2    False
3     True
4     True
5     True
Name: Latitude, dtype: bool

These then combine as follows:

In [48]:
(df.Longitude > -1.5) & (df.Latitude > 55.0)

id
0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

But note that this will not work because Python doesn't know how to combine the two data series directly:
```python
df.Longitude > -1.5 & df.Latitude > 55.0 # Will throw an exception
```
_Note:_ I'm not actually 100% sure why throwing parenthese around the series results allows the bit-wise operator to work!

### Task 4.6: Selecting Rows & Columns

Finally, let's look at how you can select both rows and columns as part of this process.

In [55]:
print(df.iloc[1,0])
print(type(df.iloc[1,0]))

Greater Manchester
<class 'str'>

In [57]:
print(df.loc[3,'Longitude'])
print(type(df.loc[3,'Longitude']))

-3.189
<class 'numpy.float64'>

Notice the difference in output between the next two lines of code:

In [60]:
print(df[['Longitude','Latitude']])

    Longitude  Latitude
id
0      -0.128    51.507
1      -2.245    53.479
2      -1.903    52.480
3      -3.189    55.953
4      -4.223    57.478
5      -1.145    60.155

In [59]:
df[['Longitude','Latitude']]

    Longitude  Latitude
id
0      -0.128    51.507
1      -2.245    53.479
2      -1.903    52.480
3      -3.189    55.953
4      -4.223    57.478
5      -1.145    60.155

And, finally:

In [62]:
df[df.Name=='Greater London'][['Longitude','Latitude']]

    Longitude  Latitude
id
0      -0.128    51.507

In [76]:
print(type(df[df.Name=='Greater London'][['Longitude','Latitude']]))

<class 'pandas.core.frame.DataFrame'>

But notice that even _that_ returns a _data frame_! If we want to turn this into something more like a Python entity then we need to use the `values` attribute together with the row selector (_i.e._ row 0 is the first row of the data frame):

In [75]:
list(df[df.Name=='Greater London'][['Longitude','Latitude']].values[0])

[-0.128, 51.507]

<div style="border: dotted 1px rgb(156,121,26); padding: 10px; margin: 5px; background-color: rgb(255,236,184)"><i>Note</i>: in my experience, the <i>majority</i> of mistakes with data frames have to do with asking for the 'wrong' thing: you want a list, but get a data frame; you want a Series but get a list; you want a single value, but have asked for the index on a Series... Pandas syntax is quite coherent once you get your head around it, but if you're having difficulty <b>always check the type of the returned data</b> since there's a fair chance it's not what you think.</div>

### Task 4.7: Different Styles of Access

Notice also these different ways of accessing the data using dictionary and method styles:

In [67]:
# These are equivalent
print(df.Longitude)
print()
print(df['Longitude'])

id
0   -0.128
1   -2.245
2   -1.903
3   -3.189
4   -4.223
5   -1.145
Name: Longitude, dtype: float64

id
0   -0.128
1   -2.245
2   -1.903
3   -3.189
4   -4.223
5   -1.145
Name: Longitude, dtype: float64

Or:

In [69]:
# These are also equiavelent
print(df[df['Name']=='Greater London']['Longitude'])
print()
print(df[df.Name=='Greater London'].Longitude)

id
0   -0.128
Name: Longitude, dtype: float64

id
0   -0.128
Name: Longitude, dtype: float64

## Task 5. Reading and Writing Data 

It’s rare that we would actually want to write 'hand code' a Data Frame, usually, we **read** existing data into the `df`; this could be a data stored on a remote computer (*i.e.* on the Internet) or from a local file (on your hard drive). After manipulation and analysis we may also want to **save** a `df` for later use. To faciliate reading (and writing) files, pandas has a [variety of functions](http://pandas.pydata.org/pandas-docs/stable/io.html).

We'll look at how we read and write existing data using pandas functions by taking three steps:
1. read a data file from a remote location
2. write the data to a file on your local HDD
3. (re)read the data from your local HDD.

You do _not_ need to run this entire process every time you start this or any other notebook. We are just demonstrating the flexibility of pandas. A little tweaking may required, but you may actually be able to directly use the function that you wrote last week (in the `dtools` package) to check if you need to download the data and then download it just the once. Then after that point the function will always just return a reference to the locally-saved file!

The pandas `read_csv` function can read data saved in csv format _and_ which has been compressed directly into a `df`. Similarly, the `to_csv` function can write a pandas `df` in csv format _and_ compress the file using gzip.

### Task 5.1: Read a remote file in pandas

We're working with the compressed CSV file available [here](https://github.com/jreades/i2p/raw/master/data/src/2019-Crime.csv.gz). The `low_memory=False` option means that pandas will try to load the entire data frame before working out the best data type for each column. In general, unless the file is _massive_ or your computer is _struggling_ this option will make for less work.

In [77]:
df = pd.read_csv(
    'https://github.com/jreades/i2p/raw/master/data/src/2019-Crime.csv.gz',
    low_memory=False) # The 'low memory' option means pandas doesn't guess data types

print("Loaded!")
print(df.info)
df.describe()

Loaded!
<bound method DataFrame.info of               ID Case Number                    Date                  Block  \
0       12158859    JD357896  11/13/2019 12:00:00 PM     103XX S PULASKI RD
1       12158546    JD359475  06/21/2019 11:58:00 AM  077XX S SPAULDING AVE
2       12157400    JD357928  10/15/2019 12:00:00 PM     103XX S PULASKI RD
3       12157398    JD357915  10/15/2019 12:00:00 PM     103XX S PULASKI RD
4       12157329    JD357903  07/19/2019 12:00:00 PM     103XX S PULASKI RD
...          ...         ...                     ...                    ...
260020     24507    JC238631  04/26/2019 01:37:00 AM       109XX S STATE ST
260021     24528    JC251611  05/06/2019 08:06:00 AM     000XX S ALBANY AVE
260022     24536    JC259301  05/11/2019 07:27:00 PM    058XX W DIVISION ST
260023     24541    JC262922  05/14/2019 04:28:00 PM      031XX W MONROE ST
260024     24549    JC269046  05/19/2019 05:36:00 AM      049XX W THOMAS ST

        IUCR             Primary Type                     Description  \
0       5001            OTHER OFFENSE  OTHER CRIME INVOLVING PROPERTY
1       0281  CRIMINAL SEXUAL ASSAULT                  NON-AGGRAVATED
2       5001            OTHER OFFENSE  OTHER CRIME INVOLVING PROPERTY
3       5001            OTHER OFFENSE  OTHER CRIME INVOLVING PROPERTY
4       5001            OTHER OFFENSE  OTHER CRIME INVOLVING PROPERTY
...      ...                      ...                             ...
260020  0110                 HOMICIDE             FIRST DEGREE MURDER
260021  0110                 HOMICIDE             FIRST DEGREE MURDER
260022  0110                 HOMICIDE             FIRST DEGREE MURDER
260023  0110                 HOMICIDE             FIRST DEGREE MURDER
260024  0110                 HOMICIDE             FIRST DEGREE MURDER

       Location Description  Arrest  Domestic  ...  Ward  Community Area  \
0           OTHER (SPECIFY)   False     False  ...  19.0              74
1           OTHER (SPECIFY)   False     False  ...  18.0              70
2           OTHER (SPECIFY)   False     False  ...  19.0              74
3           OTHER (SPECIFY)   False     False  ...  19.0              74
4           OTHER (SPECIFY)   False     False  ...  19.0              74
...                     ...     ...       ...  ...   ...             ...
260020               STREET   False     False  ...   9.0              49
260021                 YARD   False     False  ...  28.0              27
260022               STREET   False     False  ...  29.0              25
260023                 YARD   False     False  ...  28.0              27
260024                 AUTO   False     False  ...  37.0              25

        FBI Code  X Coordinate Y Coordinate  Year              Updated On  \
0             26           NaN          NaN  2019  09/08/2020 03:50:39 PM
1             02           NaN          NaN  2019  09/08/2020 03:50:39 PM
2             26           NaN          NaN  2019  09/08/2020 03:48:11 PM
3             26           NaN          NaN  2019  09/08/2020 03:48:11 PM
4             26           NaN          NaN  2019  09/08/2020 03:48:11 PM
...          ...           ...          ...   ...                     ...
260020       01A     1178194.0    1832459.0  2019  05/03/2019 04:14:46 PM
260021       01A     1155916.0    1899636.0  2019  05/13/2019 04:13:25 PM
260022       01A     1136993.0    1907395.0  2019  05/18/2019 04:03:45 PM
260023       01A     1155639.0    1899371.0  2019  05/21/2019 04:08:13 PM
260024       01A     1143226.0    1906866.0  2019  05/26/2019 04:04:27 PM

         Latitude  Longitude                       Location
0             NaN        NaN                            NaN
1             NaN        NaN                            NaN
2             NaN        NaN                            NaN
3             NaN        NaN                            NaN
4             NaN        NaN                            NaN
...           ...        ...                            ...
260020  41.695576 -87.623190   (41.695575575, -87.62318951)
260021  41.880394 -87.702954  (41.880394026, -87.702954046)
260022  41.902046 -87.772252  (41.902046108, -87.772251983)
260023  41.879672 -87.703978  (41.879672418, -87.703978301)
260024  41.900480 -87.749370  (41.900480323, -87.749370229)

[260025 rows x 22 columns]>

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.600250e+05,260025.000000,260025.000000,260010.000000,260025.000000,2.588530e+05,2.588530e+05,260025.0,258853.000000,258853.000000
mean,1.172846e+07,1137.304590,11.144248,23.330241,36.611445,1.165121e+06,1.886299e+06,2019.0,41.843590,-87.669572
std,5.239159e+05,696.368227,6.955089,13.912160,21.403524,1.638187e+04,3.151722e+04,0.0,0.086689,0.059523
min,2.436800e+04,111.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2019.0,36.619446,-91.686566
25%,1.165409e+07,611.000000,6.000000,10.000000,23.000000,1.153431e+06,1.859110e+06,2019.0,41.768744,-87.711977
50%,1.175106e+07,1024.000000,10.000000,24.000000,32.000000,1.167024e+06,1.893778e+06,2019.0,41.864226,-87.662828
75%,1.184644e+07,1722.000000,17.000000,34.000000,53.000000,1.176569e+06,1.908252e+06,2019.0,41.903805,-87.627691
max,1.215886e+07,2535.000000,31.000000,50.000000,77.000000,1.205116e+06,1.951520e+06,2019.0,42.022567,-87.524529

All being well, the code above should not have produced an error when running and printed `Done!`, followed my some useful summary information when the pandas data frame was loaded. Notice that `df.describe()` produces HTML-compatible output when run in Jupyter.

In [79]:
df.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12158859,JD357896,11/13/2019 12:00:00 PM,103XX S PULASKI RD,5001,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,OTHER (SPECIFY),False,False,...,19.0,74,26,NaN,NaN,2019,09/08/2020 03:50:39 PM,NaN,NaN,NaN
1,12158546,JD359475,06/21/2019 11:58:00 AM,077XX S SPAULDING AVE,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,OTHER (SPECIFY),False,False,...,18.0,70,02,NaN,NaN,2019,09/08/2020 03:50:39 PM,NaN,NaN,NaN
2,12157400,JD357928,10/15/2019 12:00:00 PM,103XX S PULASKI RD,5001,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,OTHER (SPECIFY),False,False,...,19.0,74,26,NaN,NaN,2019,09/08/2020 03:48:11 PM,NaN,NaN,NaN

**Notice** that there is one column (the first one on the left next to `id`) has no label in bold type? *That* is the index.

<div style="border: dotted 1px green; padding: 10px; margin: 5px; background-color: rgb(249,255,249);"><i>Hint</i>: for now, think about how useful the <tt>pd.read_csv</tt> function is: instead of having to write some kind of <tt>readRemoteCSV</tt> function ourselves, and then manually create a Dictionary-of-Lists from that remote file, we just told pandas to read it for us and it automagically converted it to a data structure that we we will be able use lots of functions to analyse (as we'll see below). You'll notice that it even figured out where the column names were.</div>

### Task 5.2: Writing a Data Frame to a local file 

Writing a file to disk (i.e. saving it for later use), is just as easy as reading the data. The following code writes the data frame to a csv file using the `to_csv` data frame method:

In [87]:
path = os.path.join('data','raw')
fn   = '2019-crime.csv.gz'

<div style="border: dotted 1px red; padding: 10px; margin: 5px; background-color: rgb(255,249,249);"><i>Danger</i>: note the 'working directory' output here and remember that <tt>work</tt> is the 'mount point' for your computer (if you're using Docker or Vagrant) so you're interested in where you might be about to write your data. If you need to change the working directory you need to use <b><tt>%cd &lt;path/to/wd&gt;</tt></b>.</div>

In [86]:
!pwd

/home/jovyan/work/i2p-private/live

Here's a more Pythonic way to get this information and do something useful with it:

In [91]:
import os # You only need to do this once per notebook
print(os.getcwd())
print(f"Working directory is: {os.getcwd().replace('/home/jovyan/work/','')}")

/home/jovyan/work/i2p-private/live
Working directory is: i2p-private/live

In [93]:
if not os.path.exists(path):
    print(f"Creating '{path}' directory...")
    os.makedirs(path)

df.to_csv(os.path.join(path,fn), compression='gzip', index=False)
print("Done.")

Done.

There are three things to note here: 

1. we have passed a value of `False` to the `index` argument; read what that does [in the documentation](http://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv)
2. we have used `os.path.exists` and `os.path.join` to write portable Python code (both will be interpreted _as appropriate for **your** computer_) that will create missing directories (if necessary) and then write the data frame there.
3. we have written a CSV file using `gzip` compression; although you often don't need to specify `compression='gzip'` it never hurts to be explicit about what you want.

It is up to you to decide how you want to manage your data, so think about these different methods and maybe even ask for advice on [best practice](https://library.stanford.edu/research/data-management-services/data-best-practices) if you want.

### Task 5.3: Deleting a Variable

Before we read the data back in, to ensure that reading the local file works properly we'll delete the`df` object completely (this will generate an error!):

In [94]:
del(df)
print(type(df))

NameError: name 'df' is not defined

That's one bit of code you actually _do_ want an error from! The error shows we have successfully removed the `df` object from memory (so python can't find it when we ask what type it is).

### Task 5.4: Reading data from a local file

Reading files from a local HDD is just as easy as reading from a remote location. Again, specifying compression is option when the file name ends in `gz`.

In [87]:
path = os.path.join('data','raw') # These should match the values set above
fn   = '2019-crime.csv.gz'

In [96]:
df = pd.read_csv(os.path.join(path,fn), compression='gzip')
df.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,2.600250e+05,260025.000000,260025.000000,260010.000000,260025.000000,2.588530e+05,2.588530e+05,260025.0,258853.000000,258853.000000
mean,1.172846e+07,1137.304590,11.144248,23.330241,36.611445,1.165121e+06,1.886299e+06,2019.0,41.843590,-87.669572
std,5.239159e+05,696.368227,6.955089,13.912160,21.403524,1.638187e+04,3.151722e+04,0.0,0.086689,0.059523
min,2.436800e+04,111.000000,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,2019.0,36.619446,-91.686566
25%,1.165409e+07,611.000000,6.000000,10.000000,23.000000,1.153431e+06,1.859110e+06,2019.0,41.768744,-87.711977
50%,1.175106e+07,1024.000000,10.000000,24.000000,32.000000,1.167024e+06,1.893778e+06,2019.0,41.864226,-87.662828
75%,1.184644e+07,1722.000000,17.000000,34.000000,53.000000,1.176569e+06,1.908252e+06,2019.0,41.903805,-87.627691
max,1.215886e+07,2535.000000,31.000000,50.000000,77.000000,1.205116e+06,1.951520e+06,2019.0,42.022567,-87.524529

This is all pretty straightforward _assuming that you know where your data are stored on the HDD_.

### Task 5.5: The Size of a Data Frame

We can explore some of the [attributes](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) of the data frame. For example the `shape` attribute is a tuple:

In [98]:
print(df.shape)

(260025, 22)

This should show you that `df` has 260,025 rows and 22 columns. To print this more nicely we could do something like:

In [100]:
print(f"The data frame is {df.shape[0]:,} rows x {df.shape[1]} columns.")

The data frame is 260,025 rows x 22 columns.

Check you understand what's going on here: recall that tuples are accessed like read-only lists.

Notice also that we used `{df.shape[0]:,}` and got comma-separated thousands! This is handy addition to our arsenal of ways to present data in a legible fashion!

<div style="border: dotted 1px rgb(156,121,26); padding: 10px; margin: 5px; background-color: rgb(255,236,184)"><i>Note</i> that we use <tt>shape</tt> not <tt>shape()</tt> - this is because `shape` is an attribute of the `DataFrame`, not a pandas method (function). You can compare many of the attributes and methods of pandas `DataFrames` <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html">here</a>. For some <a href="https://stackoverflow.com/a/19483025">unknown</a> reason, some attributes are not shown in the full documentation. For example, the <tt>columns</tt> <i>attribute</i> is also useful.</div>

In [102]:
print(df.columns)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

So that prints out all of the column names that were shown in **bold** up above. But notice that it's an _Index_! That's (to simplify in a useful way) because it isn't a `Series` containing data; so Indexes hold information _about_ rows and columns, while a Series holds _data_.

It was want to get at the columns names as `list` of `values` (which will be more useful for writing code):

In [103]:
print(df.columns.values)

['ID' 'Case Number' 'Date' 'Block' 'IUCR' 'Primary Type' 'Description'
 'Location Description' 'Arrest' 'Domestic' 'Beat' 'District' 'Ward'
 'Community Area' 'FBI Code' 'X Coordinate' 'Y Coordinate' 'Year'
 'Updated On' 'Latitude' 'Longitude' 'Location']

Note the subtle difference between the outputs of the last two lines of code (e.g. one starts, `Index`, the other does not; one has only [ ], the other ( ) and [ ]).

### Task 5.6: Loading only Part of a Data Frame

To speed up data loading or save having to drop columns later, we can actually specify what columns we want to read in as part of the `read_<format>` function:

In [107]:
cols = ['Case Number','Date','Description','Primary Type','X Coordinate','Y Coordinate']
sub_df = pd.read_csv(os.path.join(path,fn), usecols=cols)
print(f"Shape of sub-setted data frame is: {list(sub_df.shape)}")

sub_df.head()

Shape of sub-setted data frame is: [260025, 6]

,Case Number,Date,Primary Type,Description,X Coordinate,Y Coordinate
0,JD357896,11/13/2019 12:00:00 PM,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,NaN,NaN
1,JD359475,06/21/2019 11:58:00 AM,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,NaN,NaN
2,JD357928,10/15/2019 12:00:00 PM,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,NaN,NaN
3,JD357915,10/15/2019 12:00:00 PM,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,NaN,NaN
4,JD357903,07/19/2019 12:00:00 PM,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,NaN,NaN

Notice how we have only loaded the columns listed in the `cols` list? Also note that there are **many** other arguments we could pass to `read_csv`, as shown [in the documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv).

We can also read in only a subset of the rows, which can be useful when working with Really Big datasets. For example, we might find it faster and easier to work with a subset of the data: the crime data is ~40MB but larger data sets like the London [InsideAirBnB data](http://insideairbnb.com/get-the-data.html) come in at nearly 50MB, and the OS' OpenRoads data set is more than 500MB! Reading and writing that amount of data will slow things down quite a bit! Sometimes it's easier to work with only a portion of the data while we are doing our coding and then, once we know that we've written things correctly, we do our analysis on the whole data set. 

One way to achieve this right at the start is to specify the number of rows (abbreviated to `nrows`) that you want to load in `pandas`. For instance, do we really need to start out with all 260k rows? Or could we work with 'just' 50 to get things started? If we set up our analysis correctly then the answer (up to a point)is that it doesn't matter! We should be able to just run the analysis on the subset of data and then re-run it on the _entire_ data set later (by changing the number of lines we read into memory right at the start of the analysis process or just removing `nrows...` from the `read_csv` method).

So to read only 50 rows for specific columns:

In [109]:
sub_df = pd.read_csv(os.path.join(path,fn), usecols=cols, nrows=50)
print(sub_df.shape)

(50, 6)

You'll see a lot more later in term how to more effectively subset and sample data, but this should speed things up quite a bit!

In [110]:
del(sub_df)